{namespace templates.frameslider}
/**
 * @param id
 */
{template .slider}
<div id="{$id}" class="frame_slider">
    /**
    {foreach $image in $images}
        {call templates.imageview.image data="all"}
              {param id: $image.id /}
              {param imageSource: $image.imageSource /}
        {/call}
    {/foreach}
    **/
</div>
{/template}