{namespace templates.frameslider}
/**
 * @param id
 */
{template .slider}
<div id="{$id}" class="frame_slider">
    <div id="{$id}_loading" class="frame_slider_loading"></div>
    <div id="{$id}_content" class="frame_slider_content">
    /**
    {foreach $image in $images}
        {call templates.imageview.image data="all"}
              {param id: $image.id /}
              {param imageSource: $image.imageSource /}
        {/call}
    {/foreach}
    **/
    </div>
</div>
{/template}